body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

/* top-section */
.top-section {
  width: 100%;
  background-image: url(./images/top-banner-image.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-text {
  height: 500px;
  width: 40%;
  text-align: center;
  color: white;
  margin-top: 10%;
}

.paragraph-light {
  color: lightgray;
}

.btn-main {
  width: 160px;
  height: 56px;
  color: #ffffff;
  background: #ff5959;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

/* Donate Today Section  */
.donate-today-section {
  text-align: center;
  margin: 150px;
}

.donate-box {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}

.box {
  font-size: 22px;
  display: flex;
  width: 135px;
  height: 125px;
  background: #f1f1f1;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

#second-box {
  background: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
}

.donate-paragraph {
  color: darkgray;
  font-size: 18px;
}

.other-amount {
  font-size: 18px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

hr {
  background-color: #dadada;
  margin-bottom: 50px;
}

/* Story Box Section  */

.story-board-section {
  text-align: center;
}
.storyBox{
  width: 360px;
  height: 352px;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#box-one{
    background-color: #eef6f6;
}
#box-two{
    background-color: #ffeeee;
}
#box-three{
    background-color:#fff4d7 ;
}
.story-paragraph{
    color: #707070;
}

/* Organization section  */

.organization-section{
    text-align: center;
    margin: 200px 0px;
}
.organization-box{
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 40px lightgray;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
}
.some{
    color: #ff5959;
}


/* Updates Section  */
.updates-section{
    text-align: center;
    margin-bottom: 200px;
}
.contact{
    width: 809px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.update-box{
    width: 700px;
    height: 200px;
    background: url(./images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: #FFF4D6; */
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email{
    padding: 20px 35px;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px ;
    font-size: 16px;
}
.subscribe-btn{
    padding: 20px 35px;
    border-radius: 0px 5px 5px 0px ;
    background-color: #ff5959;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
footer{
    background-color: black;
    height: 200px;
    color: #ffffff;
    text-align: center;
    padding:30px;
    font-size: 22px;
}
footer p{
    font-size: 16px;
}