body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 34px;
}

/* top-section */
.top-section {
  width: 100%;
  background-image: url(./images/top-banner-image.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-text {
  height: 500px;
  width: 40%;
  text-align: center;
  color: white;
  margin-top: 10%;
}
.paragraph-light {
  color: lightgray;
}

.btn-main {
  padding: 12px 38px;
  color: #ffffff;
  background: #ff5959;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

/* Donate Today Section  */
.donate-today-section{
    text-align: center;
    margin: 100px;
}
.donate-box{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.box-1{
    display: flex;
    width: 135px;
    height: 125px;
    background: #f8f6f6;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}